.welcome-message {
  margin: 50px;
  font-size: 2rem;
  color: #fff;
}
.cursor {
  margin-left: 5px;
  border-left: 0.1em solid rgb(240, 240, 240);
  animation: blink 0.5s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
