html {
  scroll-behavior: smooth;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.Test {
  display: flexbox;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 40px;
  height: 80vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.item * {
  margin: 10px;
}
.show {
  display: block !important;
}
.hide {
  display: none;
}
.enlarge {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  border-radius: 5px;
}
.enlarge:hover {
  cursor: pointer;
  transform: scale(1.4);
  top: 10%;
  z-index: 5 !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px !important;
  height: 50px !important;
}
